body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    
}

button{
    height: 80px;
    width: 80px;
    border-radius: 50px;
    border: none;
    font-size: 3rem;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-weight: bold;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}

.operator-btn{
    background-color: hsl(25,100%,55% );
    display: flex;
    flex-wrap: wrap;
}
.operator-btn:hover{
    background-color: hsl(25,100%,60% );
}
.operator-btn:active{
    background-color: hsl(25,100%,65% );
}

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
    justify-content: center;
    align-items: center;
}

#container{
    background-color: hsl(0, 0%, 15%);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    max-width: 400px;
    height: 700px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#display{
    width: 100%;
    height: 80px;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    color: white;
    border: none;
    background-color: hsl(0, 0%, 20%);
    display: flex;
    flex-wrap: wrap;
}
.main_content{
    margin-top: 2px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2px;

}
.heading{
    color:white;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin:0px;
}
