*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1D2D44;
}
header{
    background-color: #0D1321;
    color: #F0EBD8;
    padding: 10px;
    padding-left: 0px;
    
}
main{
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.heading{
    text-align: center;
    font-family: cursive;
    font-size: larger;
}
.second_heading{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 20px;
}
#text-area{
    margin-top: 5px;
    background-color: #3E5C76;
    height: 500px;
    width: 800px;
    color: #F0EBD8;
    padding: 20px;
    font-size: 2.5rem;
    border-radius: 20px;
}
#score-area{
    margin-top: 5px;
    background-color: #748CAB;
    width: 800px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #F0EBD8;
    border-radius: 20px;
}
#restart-btn{
    background-color: #3E5C76;
    border: none;
    height: 30px;
    width: 90px;
    font-size: 1.2rem;
    color: #F0EBD8;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}
#restart-btn:hover{
    transform: scale(1.05);
    transition-duration: 0.2s;
}

.correct{
    color: green;
}
.incorrect{
    color: red;
}
.active{
    text-decoration: underline;
}

#input{
    opacity: 0;
    width: 0px;
    height: 0px;
}
#accuracy-tab {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #222;
            color: #fff;
            text-align: center;
            padding: 10px 0;
            font-size: 18px;
            letter-spacing: 1px;
            box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.3);
        }
body {
    margin-bottom: 60px;
}
